.f-kalam {
    font-family: 'Kalam', cursive;
}

.f-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.f-noto-sans-b {
    font-family: 'Noto Sans TC', sans-serif;
}

.nav-link:hover{
    color:#F9C745;
}